{
	"root": true,
	"ignorePatterns": ["dist", "node_modules", "src/version.ts", "server/version.ts", ".gitignore"],

	"extends": [
		"strictest/eslint",
		"strictest/promise",
		"strictest/typescript-eslint",
		"strictest/unicorn",
		"eslint:recommended",
		"plugin:jest/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/recommended-requiring-type-checking",
		"plugin:prettier/recommended"
	],
	"plugins": [
		"prettier",
		"unicorn",
		"promise",
		"deprecation",
		"svelte3",
		"@typescript-eslint",
		"disable"
	],
	"processor": "disable/disable",
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.prod.json",
		"tsconfigRootDir": ".",
		"extraFileExtensions": [".svelte"]
	},
	"settings": {
		"svelte3/typescript": true
	},
	"rules": {
		"deprecation/deprecation": "warn",
		"prettier/prettier": "warn",
		"no-constant-condition": "warn",
		"no-console": ["warn", { "allow": ["error", "warn", "debug"] }],
		"no-dupe-else-if": "warn",
		"consistent-return": "off", // TS handles this
		"no-duplicate-imports": "off", // typescript-eslint handles this
		"@typescript-eslint/no-namespace": "off",
		"@typescript-eslint/no-duplicate-imports": "error",
		"@typescript-eslint/consistent-type-assertions": "off",
		"@typescript-eslint/no-empty-interface": "off",
		"@typescript-eslint/require-await": "warn",
		"@typescript-eslint/no-inferrable-types": "off",
		"@typescript-eslint/no-invalid-void-type": "off", // TODO: Should be "error", but some bugs exist
		"@typescript-eslint/explicit-member-accessibility": [
			"error",
			{ "accessibility": "no-public", "overrides": { "properties": "off" } }
		],
		"@typescript-eslint/explicit-function-return-type": [
			"error",
			{ "allowConciseArrowFunctionExpressionsStartingWithVoid": true }
		],
		"@typescript-eslint/consistent-type-definitions": ["warn", "interface"],
		"@typescript-eslint/array-type": ["warn", { "default": "generic" }],
		"@typescript-eslint/dot-notation": "off",
		"@typescript-eslint/consistent-type-imports": "warn",
		"@typescript-eslint/no-dynamic-delete": "off",
		"new-cap": "off", // Many decorators do not follow normal function conventions
		"unicorn/catch-error-name": ["warn", { "name": "error" }],
		"unicorn/import-index": ["error", { "ignoreImports": true }]
	},

	"overrides": [
		{
			"files": ["*.svelte"],
			"processor": "svelte3/svelte3",
			"settings": {
				"disable/plugins": ["prettier"]
			},
			"rules": {
				"@typescript-eslint/explicit-function-return-type": "off" // not useful in template expressions
			}
		},
		{
			"files": ["./*.ts", "src/**/*.test.ts", "tests/**/*.ts", "**/__mocks__/**/*.ts"],
			"extends": ["plugin:prettier/recommended"],
			"plugins": ["prettier", "@typescript-eslint"],
			"parser": "@typescript-eslint/parser",
			"parserOptions": {
				"project": "./tsconfig.test.json",
				"tsconfigRootDir": "."
			},
			"env": {
				"jest": true
			},
			"rules": {
				"prettier/prettier": "warn",
				"max-nested-callbacks": "off" // Unit tests involve a lot of nested callbacks
			}
		},
		{
			"files": ["./server/**/*.ts"],
			"parserOptions": {
				"project": "./tsconfig.json",
				"tsconfigRootDir": "./server"
			}
		},
		{
			"files": ["./server/**/*.test.ts", "./server/tests/**/*.ts", "./server/**/__mocks__/**/*.ts"],
			"extends": ["plugin:prettier/recommended"],
			"plugins": ["prettier", "@typescript-eslint"],
			"parser": "@typescript-eslint/parser",
			"parserOptions": {
				"project": "./tsconfig.test.json",
				"tsconfigRootDir": "."
			},
			"env": {
				"jest": true
			},
			"rules": {
				"prettier/prettier": "warn",
				"max-nested-callbacks": "off" // Unit tests involve a lot of nested callbacks
			}
		},
		{
			"files": ["*.js", "*.cjs"],
			"parser": "null"
		}
	]
}
