name: Build and Test

on:
  # push:
  #   branches: [ main ]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - node-version: [16.x] # See https://nodejs.org/en/about/releases/
            arch: ubuntu-latest
          - node-version: [16.x]
            arch: macos-latest
          - node-version: [16.x]
            arch: windows-latest

    runs-on: ${{ matrix.arch }}

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"

      - name: Install Dependencies
        run: npm ci

      - name: Server Lint and Build
        run: npm run build:server

      - name: Client Lint and Build
        run: npm run build:client

      - name: Unit Tests
        run: npm test
