name: Validate OpenAPI Syntax

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Validate OpenAPI Syntax
        uses: mbowman100/swagger-validator-action@2.0
        with:
          files: |
            server/openapi.yml
